## Note that trailing "/" are important.


[FROM_T3]
path_to_files = /home/hep/clundst/to_fnal/to_fnal/source
destinationSURL = /home/hep/clundst/to_fnal/to_fnal/dest
method = cp

[testing]
path_to_files = file://home/hep/clundst/to_fnal/to_fnal/source/ 
destinationSURL = srm://dcache07.unl.edu:8443/srm/v2/server?SFN=/mnt/hadoop/user/uscms01/fnal_test/
method = srmv2
